<% @page_title = "Say something?" %>

<h2>Noodle Your Location</h2>
<h3><%= link_to("Messages", {:action => 'list'}, :class => 'link-nav') %></h3>

<%= gmaps4rails(@json) %>

<%= form_for @user, :url => {:action => 'create'} do |user| %>
	<div class="fleft">
		<%= user.label :name %><br />
		<%= user.text_field :name %>
	</div>
	<%= user.fields_for :posts do |post| %>
		<div class="fright">
			<%= post.label :address %><br />
			<%= post.text_field :address %>
		</div>
		<div class="clear"><br />
		<%= post.label :content %><br />
		<%= post.text_area :content, :size => '58x10' %><br />
	<% end %>
	<%= user.submit "Submit Noodle" %>
<% end %>