<% @page_title = "Read some messages!" %>

<h2>List of Messages</h2>
<h3><%= link_to("Write a Noodle", {:action => 'index'}, :class => 'back-link') %></h3>

<%= gmaps4rails(@json) %>

<div class="noodles">
<% @users.each do |user| %>	
	<div class="noodle_item">
		<p class="fleft meta"><%= user.name %> - <%= user.post.created_at %></p><p class="fright meta"><%= user.address %></p>
		<div class="clear"></div>
		<p class="content"><%= user.post.content %></p>
	</div>
<% end %>
</table>