<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  
  <%= yield :head %>
  
</head>
<body>
	<div>
		
		<% if !flash[:notice].blank? %>
		<div class="notice">
			<%= flash[:notice] %>
		</div>
		<% end %>
		
		<%= yield %>
		<%= yield :scripts %>

	</div>
</body>

</html>
